<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Atualizar treino</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
        #dias-da-semana {
            display: none;
        }
        .erro {
            color: red;
            font-size: 0.9em;
        }
        </style>
    </head>
    <body>
        <h1>Atualizar treino</h1>
        <form id="myform" action="atualizaTreino.html" th:object="${treino}" method="post">
           <div>
               <p>ID: <input type="hidden" th:field="*{id}" /></p>
               <p>Nome do treino: <input type="text" id="nomeTreino" onblur="validarNomeTreino()" th:field="*{nomeTreino}" placeholder="Digite aqui" class="form-control mt-4 col-4" /></p>
               <div class="erro" id="nomeErro"></div>
               <p>Tipo de treino: <input type="text" id="tipo" onblur="validarTipo()" th:field="*{tipo}" placeholder="(ex: perna)" class="form-control mt-4 col-4"/></p>
               <div class="erro" id="tipoErro" ></div>
               <p>Vezes na semana: <input type="number" id="frequencia" onblur="validarFrequencia()" th:field="*{frequencia}" class="form-control mt-4 col-4"/></p>
               <div class="erro" id="frequenciaErro" ></div>
               <div>
                    <label for="informaDias">Informar dias da semana?</label>
                    <input type="radio" id="sim" name="informaDias" value="sim" th:checked="*{informaDias == 'sim'}"> Sim
                    <input type="radio" id="nao" name="informaDias" value="nao" th:checked="*{informaDias == 'nao'}"> Não
                    <div class="erro" id="informaDiasErro"></div>
               </div>
                    
               <div id="dias-da-semana">
                <label>Escolha os dias da semana:</label>
                <div>
                    <input type="checkbox" name="dias" value="segunda" id="segunda"> Segunda-feira
                </div>
                <div>
                    <input type="checkbox" name="dias" value="terca" id="terca"> Terça-feira
                </div>
                <div>
                    <input type="checkbox" name="dias" value="quarta" id="quarta"> Quarta-feira
                </div>
                <div>
                    <input type="checkbox" name="dias" value="quinta" id="quinta"> Quinta-feira
                </div>
                <div>
                    <input type="checkbox" name="dias" value="sexta" id="sexta"> Sexta-feira
                </div>
                <div>
                    <input type="checkbox" name="dias" value="sabado" id="sabado"> Sábado
                </div>
                <div>
                    <input type="checkbox" name="dias" value="domingo" id="domingo"> Domingo
                </div>
                <div class="erro" id="diasErro"></div> 
            </div>
           </div> 
            <br>
           <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <br>
        <a href="listaTreinos.html" class="link-opacity-50-hover">Treinos cadastrados</a>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function validarFrequencia() {
                let frequencia = $('#frequencia').val();
                frequencia = parseFloat(frequencia);
                if (frequencia <= 0) {
                    $('#frequenciaErro').text('O número de vezes na semana deve ser maior do que zero');
                    return false;
                }
                else if (!Number.isInteger(frequencia)){
                    $('#frequenciaErro').text('O número deve ser inteiro');
                    return false;
                } else {
                    $('#frequenciaErro').text('');
                    return true;
                }
            }
            
            function validarNomeTreino(){
                let nomeTreino = $('#nomeTreino').val();
                nomeTamanho = nomeTreino.trim().length;
                if (nomeTamanho < 1){
                    $('#nomeErro').text('Informe um nome para o treino');
                    return false;
                }
                else {
                    $('#nomeErro').text('');
                    return true;
                }
            }
            
            function validarTipo(){
                let tipo = $('#tipo').val();
                tipoTamanho = tipo.trim().length;
                if (tipoTamanho < 1){
                    $('#tipoErro').text('Informe o tipo de treino (ex: braço)');
                    return false;
                }
                else {
                    $('#tipoErro').text('');
                    return true;
                }
            }
            
            $(document).ready(function() {
            $('input[name="informaDias"][value="nao"]').prop('checked', true);
            // Dias da semana escondidos
            if ($('input[name="informaDias"]:checked').val() === "no") {
                $('#dias-da-semana').hide();
            }

            // Aparecem quando opção "sim" é marcada
            $('input[name="informaDias"]').on('change', function() {
                if ($('#sim').prop('checked')) {
                    $('#dias-da-semana').show();
                    $('#diasErro').text('Selecione ao menos um dia da semana');
                } else {
                    $('#dias-da-semana').hide();
                }
            });
            
            $('input[name="dias"]').on('change', function() {
                if ($('#sim').prop('checked')) {
                    if ($('input[name="dias"]:checked').length === 0) {
                        $('#diasErro').text('Selecione ao menos um dia da semana');
                    } else{
                        $('#diasErro').text('');
                    }
                }
            });
            
            

            $('#myForm').submit(function(e) {
                var isValid = true;
                
                if (!$('input[name="informaDias"]:checked').val()) {
                    isValid = false;
                }

                if ($('#sim').prop('checked')) {
                    if ($('input[name="dias"]:checked').length === 0) {
                        isValid = false;
                    }
                }
                if (!validarNomeTreino() || !validarTipo() || !validarFrequencia()){
                    isValid = false;
                }

                if (!isValid) {
                    e.preventDefault();
                    alert("O formulário não foi preenchido corretamente");
                }
            });
            
        });
        </script>
    </body>
</html>
